<%= form_for @custom_form, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.hidden_field :save_continue, :value => false %>
  <%= f.hidden_field :form_wrapper_id, :value => @form_wrapper_id %>
  <p class="text-justified">
    <strong><%= t "steps.step_3" %></strong><%= t "custom_form_introductions.custom_form" %>
  </p>
  <div class="custom-form-rows">
    <div class="row form">
      <div class="col-sm-12">
        <%= f.label :text, :class => '' %>
        <div class="box">
          <%= f.text_field :text_en, :class => 'form-control spaceless', :placeholder => I18n.t("language.en") %>
        </div>
        <div class="box">
          <%= f.text_field :text_es, :class => 'form-control spaceless', :placeholder => I18n.t("language.es") %>
        </div>
        <div class="box">
          <%= f.text_field :text_fr, :class => 'form-control spaceless', :placeholder => I18n.t("language.fr") %>
        </div>
        <div class="box">
          <%= f.text_field :text_pt, :class => 'form-control spaceless', :placeholder => I18n.t("language.pt") %>
        </div>
      </div>
    </div>
    <div class="row form">
      <div class="col-sm-12">
        <%= f.label :field_type, :class => '' %>
        <div class="box">
          <%= f.select :field_type, @question_types.map { |value| [ value[:val], value[:key] ] }, {}, :class => "form-control" %>
        </div>
      </div>
    </div>
    <% if @custom_form.field_type && @options.blank? == false  %>
      <% index = 1 %>
      <div class="form-horizontal field_type_options">
        <div class="select_options_container">
          <% if @custom_form.field_type.eql?("select") %>
            <% @options.each do |option| %>
              <div class="form-group">
                <label for="selec_option_choice_1" class="col-sm-2 control-label"><%= I18n.t("custom_forms.field_type_option") %> <%= index %></label>
                <div class="col-sm-4">
                  <input type="text" id="selec_option_choice_1" class="form-control" name="custom_form[select_field_option_choices][]" value="<%= option.description %>">
                </div>
                <div class="col-sm-2">
                  <button class="btn btn-danger btn-sm remove-option"><%= I18n.t("helpers.links.remove") %></button>
                </div>
              </div>
              <% index += 1 %>
            <% end %>
          <% end %>
        </div>
        <div class="checkbox_options_container">
          <% if @custom_form.field_type.eql?("checkbox") %>
            <div class="form-group">
              <label for="checkbox_option_choice_0" class="col-sm-2 control-label"><%= I18n.t("custom_forms.misc") %></label>
              <div class="col-sm-4">
                <input type="text" id="checkbox_option_choice_0" class="form-control piled-inputs" name="custom_form[checkbox_field_misc_en]" placeholder="<%= I18n.t("language.en")%>" value="<%= @options.first.misc_en %>">
                <input type="text" id="checkbox_option_choice_0" class="form-control piled-inputs" name="custom_form[checkbox_field_misc_es]" placeholder="<%= I18n.t("language.es")%>" value="<%= @options.first.misc_es %>">
                <input type="text" id="checkbox_option_choice_0" class="form-control piled-inputs" name="custom_form[checkbox_field_misc_fr]" placeholder="<%= I18n.t("language.fr")%>" value="<%= @options.first.misc_fr %>">
                <input type="text" id="checkbox_option_choice_0" class="form-control piled-inputs" name="custom_form[checkbox_field_misc_pt]" placeholder="<%= I18n.t("language.pt")%>" value="<%= @options.first.misc_pt %>">
              </div>
            </div>
            <% @options.each do |option| %>
              <div class="form-group">
                <label for="checkbox_option_choice_1" class="col-sm-2 control-label"><%= I18n.t("custom_forms.field_type_option") %> <%= index %></label>
                <div class="col-sm-4">
                  <input type="text" id="checkbox_option_choice_1" class="form-control piled-inputs" name="custom_form[checkbox_field_option_choices_en][]" value="<%= option.description_en %>" placeholder="<%= I18n.t("language.es")%>">
                  <input type="text" id="checkbox_option_choice_1" class="form-control piled-inputs" name="custom_form[checkbox_field_option_choices_es][]" value="<%= option.description_es %>" placeholder="<%= I18n.t("language.es")%>">
                  <input type="text" id="checkbox_option_choice_1" class="form-control piled-inputs" name="custom_form[checkbox_field_option_choices_fr][]" value="<%= option.description_fr %>" placeholder="<%= I18n.t("language.fr")%>">
                  <input type="text" id="checkbox_option_choice_1" class="form-control piled-inputs" name="custom_form[checkbox_field_option_choices_pt][]" value="<%= option.description_pt %>" placeholder="<%= I18n.t("language.pt")%>">
                </div>
                <div class="col-sm-2">
                  <button class="btn btn-danger btn-sm remove-option"><%= I18n.t("helpers.links.remove") %></button>
                </div>
              </div>
              <% index += 1 %>
            <% end %>
          <% end %>
        </div>
        <div class="form-group add-more">
          <div class="col-sm-2 col-sm-offset-3">
            <button class="btn btn-success btn-sm add-more-fields"><%= I18n.t("helpers.links.add") %></button>
          </div>
        </div>
      </div>
    <% else %>
      <div class="form-horizontal field_type_options hide">
        <div class="select_options_container"></div>
        <div class="checkbox_options_container"></div>
        <div class="form-group add-more">
          <div class="col-sm-2 col-sm-offset-3">
            <button class="btn btn-success btn-sm add-more-fields"><%= I18n.t("helpers.links.add") %></button>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row form">
      <div class="col-sm-12">
        <%= f.label :section_id, :class => '' %>
        <div class="box">
          <%= f.collection_select :section_id, @sections, :id, "title_#{locale}", {}, { :class => 'form-control', :include_blank => false } %>
        </div>
      </div>
    </div>
    <div class="row form">
      <div class="col-sm-12">
        <%= f.label :required, :class => '' %>
        <div class="box">
          <%= f.check_box :required, :class => 'check_box' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row submit">
    <div class="col-md-12 box">
      <%= link_to t("helpers.links.cancel"), questions_custom_form_path(@form_wrapper_id), :class => 'btn btn-default' %>
      <% if @custom_form.new_record? %>
        <%= link_to I18n.t("helpers.links.save_continue"), "#", :class => 'btn btn-info save-continue' %>
      <% end %>
      <%= f.submit submit_button(@custom_form), :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
<div class="hide select-options-template">
  <div class="form-group">
    <label for="selec_option_choice_1" class="col-sm-2 control-label"><%= I18n.t("custom_forms.field_type_option") %> 1</label>
    <div class="col-sm-4">
      <input type="text" id="selec_option_choice_1" class="form-control" name="">
    </div>
    <div class="col-sm-2">
      <button class="btn btn-danger btn-sm remove-option"><%= I18n.t("helpers.links.remove") %></button>
    </div>
  </div>
</div>
<div class="hide checkbox-options-template">
  <div class="form-group">
    <label for="checkbox_option_choice_1" class="col-sm-2 control-label"><%= I18n.t("custom_forms.field_type_option") %> 1</label>
    <div class="col-sm-4">
      <input type="text" id="checkbox_option_choice_1" class="form-control piled-inputs" name="" placeholder="<%= I18n.t("language.en")%>">
      <input type="text" id="checkbox_option_choice_1" class="form-control piled-inputs" name="" placeholder="<%= I18n.t("language.es")%>">
      <input type="text" id="checkbox_option_choice_1" class="form-control piled-inputs" name="" placeholder="<%= I18n.t("language.fr")%>">
      <input type="text" id="checkbox_option_choice_1" class="form-control piled-inputs" name="" placeholder="<%= I18n.t("language.pt")%>">
    </div>
    <div class="col-sm-2">
      <button class="btn btn-danger btn-sm remove-option"><%= I18n.t("helpers.links.remove") %></button>
    </div>
  </div>
</div>
<div class="hide checkbox-misc-template">
  <div class="form-group">
    <label for="checkbox_option_choice_0" class="col-sm-2 control-label"><%= I18n.t("custom_forms.misc") %></label>
    <div class="col-sm-4">
      <input type="text" id="checkbox_option_choice_0" class="form-control piled-inputs" name="" placeholder="<%= I18n.t("language.en")%>">
      <input type="text" id="checkbox_option_choice_0" class="form-control piled-inputs" name="" placeholder="<%= I18n.t("language.es")%>">
      <input type="text" id="checkbox_option_choice_0" class="form-control piled-inputs" name="" placeholder="<%= I18n.t("language.fr")%>">
      <input type="text" id="checkbox_option_choice_0" class="form-control piled-inputs" name="" placeholder="<%= I18n.t("language.pt")%>">
    </div>
  </div>
  <hr>
</div>