<%= form_for(@user_file_share) do |f| %>
  <% if @user_file_share.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_file_share.errors.count, "error") %> prohibited this user_file_share from being saved:</h2>

      <ul>
      <% @user_file_share.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :file_id %><br>
    <%= f.number_field :file_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
