<%- model_class = FormularyContextDescription -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:formulary_context_id) %></th>
      <th><%= model_class.human_attribute_name(:project_term) %></th>
      <th><%= model_class.human_attribute_name(:require_integration) %></th>
      <th><%= model_class.human_attribute_name(:require_integration_name) %></th>
      <th><%= model_class.human_attribute_name(:gender) %></th>
      <th><%= model_class.human_attribute_name(:equity) %></th>
      <th><%= model_class.human_attribute_name(:community_participation) %></th>
      <th><%= model_class.human_attribute_name(:policy) %></th>
      <th><%= model_class.human_attribute_name(:complexity) %></th>
      <th><%= model_class.human_attribute_name(:other) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @formulary_context_descriptions.each do |formulary_context_description| %>
      <tr>
        <td><%= link_to formulary_context_description.id, formulary_context_description_path(formulary_context_description) %></td>
        <td><%= formulary_context_description.formulary_context_id %></td>
        <td><%= formulary_context_description.project_term %></td>
        <td><%= formulary_context_description.require_integration %></td>
        <td><%= formulary_context_description.require_integration_name %></td>
        <td><%= formulary_context_description.gender %></td>
        <td><%= formulary_context_description.equity %></td>
        <td><%= formulary_context_description.community_participation %></td>
        <td><%= formulary_context_description.policy %></td>
        <td><%= formulary_context_description.complexity %></td>
        <td><%= formulary_context_description.other %></td>
        <td><%=l formulary_context_description.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_formulary_context_description_path(formulary_context_description), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      formulary_context_description_path(formulary_context_description),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_formulary_context_description_path,
            :class => 'btn btn-primary' %>
