<p id="notice"><%= notice %></p>

<p>
  <strong>Title en:</strong>
  <%= @form_wrapper.title_en %>
</p>

<p>
  <strong>Title es:</strong>
  <%= @form_wrapper.title_es %>
</p>

<p>
  <strong>Title fr:</strong>
  <%= @form_wrapper.title_fr %>
</p>

<p>
  <strong>Title pt:</strong>
  <%= @form_wrapper.title_pt %>
</p>

<p>
  <strong>Description en:</strong>
  <%= @form_wrapper.description_en %>
</p>

<p>
  <strong>Description es:</strong>
  <%= @form_wrapper.description_es %>
</p>

<p>
  <strong>Description fr:</strong>
  <%= @form_wrapper.description_fr %>
</p>

<p>
  <strong>Description pt:</strong>
  <%= @form_wrapper.description_pt %>
</p>

<p>
  <strong>Active:</strong>
  <%= @form_wrapper.active %>
</p>

<%= link_to 'Edit', edit_form_wrapper_path(@form_wrapper) %> |
<%= link_to 'Back', form_wrappers_path %>
