<%= form_for @formulary_profile, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :period, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :period, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :region, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :region, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :institution, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :institution, :class => 'text_field' %>
    </div>
  </div>
  <%= f.fields_for :formulary_profile_area do |builder| %>
    <%= render '/partials/formulary_profile_areas_form', :f => builder %>
  <% end %>
  <%= f.fields_for :formulary_profile_classify do |builder| %>
    <%= render '/partials/formulary_profile_classify_form', :f => builder %>
  <% end %>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :objective, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :objective, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :discipline, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :discipline, :class => 'text_field' %>
    </div>
  </div>
  <%= f.fields_for :formulary_profile_reach do |builder| %>
    <%= render '/partials/formulary_profile_reach_form', :f => builder %>
  <% end %>
  <div class="control-group">
    <%= f.label :success, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :success, :class => 'text_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                formulary_profiles_path, :class => 'btn' %>
  </div>
<% end %>
