<%- model_class = FormularyProfileReach -%>
<div class="control-group">
  <label>
    <%= t model_class.model_name.human.titleize %>
  </label>
</div>
<div class="control-group">
  <%= f.label :research, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :research, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :action, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :action, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :policy, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :policy, :class => 'text_field' %>
  </div>
</div>