<div class="row form">
  <div class="col-sm-12">
    <%= f.label :intersectoral_design, :class => '' %>
    <div class="box">
      <%= f.select :intersectoral_design, @intersectoral_design_options.map { |value| [ value[:val], value[:key] ] }, {}, :class => "form-control" %>
    </div>
  </div>
</div>
<div class="row form marginless">
  <div class="col-sm-12">
    <label>
      <%= I18n.t "formulary_fields.formulary_policy_2" %>
    </label>
  </div>
</div>
<div class="row form">
  <div class="col-lg-12">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :improve_strategies, :class => '' %><%= f.label :improve_strategies, :class => '' %>
    </div>
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :prevent_strategies, :class => '' %><%= f.label :prevent_strategies, :class => '' %>
    </div>
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :actor_strategies, :class => '' %><%= f.label :actor_strategies, :class => '' %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :other, :class => '' %><%= f.label :other, :class => '' %>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="form-group marginless which_other_description">
      <%= f.label :other_description, :class => 'col-sm-1 input-label' %>
      <div class="col-sm-7">
        <%= f.text_field :other_description, :class => 'form-control spaceless', :disabled => true %>
      </div>
    </div>
  </div>
</div>
<div class="row form">
  <div class="col-sm-12">
    <%= f.label :multiple_kind, :class => '' %>
    <div class="box">
      <div class="radio">
        <%= f.label :multiple_kind, I18n.t("helpers.booleans.affirmative"), :value => "true"  %>
        <%= f.radio_button :multiple_kind, true, :class => "multiple_kind" %>
      </div>
      <div class="radio">
        <%= f.label :multiple_kind, I18n.t("helpers.booleans.negative"), :value => "false" %>
        <%= f.radio_button :multiple_kind, false, :class => "multiple_kind" %>
      </div>
      <div class="form-group marginless which_multiple_kind">
        <%= f.label :multiple_kind_name, :class => 'col-sm-4 input-label' %>
        <div class="col-sm-6">
          <%= f.text_field :multiple_kind_name, :class => 'form-control spaceless', :disabled => true %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row form">
  <div class="col-sm-12">
    <%= f.label :improve_policies, :class => '' %>
    <div class="box">
      <%= f.text_area :improve_policies, :class => 'form-control' %>
    </div>
  </div>
</div>
<div class="row form">
  <div class="col-sm-12">
    <%= f.label :project_result, :class => '' %>
    <div class="box">
      <%= f.select :project_result, @project_result_options.map { |value| [ value[:val], value[:key] ] }, {}, :class => "form-control" %>
    </div>
  </div>
</div>