<div class="control-group">
  <%= f.label :name, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :period, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :period, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :region, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :region, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :institution, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :institution, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :mining, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :mining, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :pesticide, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :pesticide, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :occupational_health, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :occupational_health, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :community_paticipation, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :community_paticipation, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :watershed_management, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :watershed_management, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :solid_waste_management, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :solid_waste_management, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :public_health, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :public_health, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :animal_health, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :animal_health, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :determinant_of_health, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :determinant_of_health, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :food_sovereignty, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :food_sovereignty, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :indigenous_health, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :indigenous_health, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :climate_change, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :climate_change, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :forest_management, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :forest_management, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :other, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :other, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :which, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :which, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :project, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :project, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :part_program, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :part_program, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :entire_program, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :entire_program, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :other, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :other, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :which, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :which, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :description, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :description, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :objective, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :objective, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :discipline, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :discipline, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :research, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :research, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :action, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :action, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :policy, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :policy, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :success, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :success, :class => 'text_field' %>
  </div>
</div>