<div class="control-group">
  <%= f.label :urban, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :urban, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :semiurban, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :semiurban, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :rural, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :rural, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :wilderness, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :wilderness, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :disrupted, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :disrupted, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :resource_extraction, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :resource_extraction, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :environmental_degradation, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :environmental_degradation, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :climate_effect, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :climate_effect, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :natural_force, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :natural_force, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :coastal, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :coastal, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :agricultural, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :agricultural, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :forest, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :forest, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :rainfores, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :rainfores, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :cloud_forest, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :cloud_forest, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :dry_forest, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :dry_forest, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :old_growth_forest, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :old_growth_forest, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :mixed_forest, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :mixed_forest, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :other, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :other, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :watershed, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :watershed, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :watersheed_name, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :watersheed_name, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :wetland, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :wetland, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :desert, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :desert, :class => 'text_field' %>
  </div>
</div>