<%- model_class = FormularyProfileArea -%>
<div class="control-group">
  <label>
    <%= t model_class.model_name.human.titleize %>
  </label>
</div>
<div class="clearfix">
  <div class="inline-checkbox span3">
    <%= f.check_box :mining, :class => 'check-box' %><%= f.label :mining, :class => 'check-label' %>
  </div>
  <div class="inline-checkbox span3">
    <%= f.check_box :pesticide, :class => 'check-box' %><%= f.label :pesticide, :class => 'check-label' %>
  </div>
  <div class="inline-checkbox span3">
    <%= f.check_box :occupational_health, :class => 'check-box' %><%= f.label :occupational_health, :class => 'check-label' %>
  </div>
  <div class="inline-checkbox span3">
    <%= f.check_box :community_paticipation, :class => 'check-box' %><%= f.label :community_paticipation, :class => 'check-label' %>
  </div>
  <div class="inline-checkbox span3">
    <%= f.check_box :watershed_management, :class => 'check-box' %><%= f.label :watershed_management, :class => 'check-label' %>
  </div>
  <div class="inline-checkbox span3">
    <%= f.check_box :solid_waste_management, :class => 'check-box' %><%= f.label :solid_waste_management, :class => 'check-label' %>
  </div>
  <div class="inline-checkbox span3">
    <%= f.check_box :public_health, :class => 'check-box' %><%= f.label :public_health, :class => 'check-label' %>
  </div>
  <div class="inline-checkbox span3">
    <%= f.check_box :animal_health, :class => 'check-box' %><%= f.label :animal_health, :class => 'check-label' %>
  </div>
  <div class="inline-checkbox span3">
    <%= f.check_box :determinant_of_health, :class => 'check-box' %><%= f.label :determinant_of_health, :class => 'check-label' %>
  </div>
  <div class="inline-checkbox span3">
    <%= f.check_box :food_sovereignty, :class => 'check-box' %><%= f.label :food_sovereignty, :class => 'check-label' %>
  </div>
  <div class="inline-checkbox span3">
    <%= f.check_box :indigenous_health, :class => 'check-box' %><%= f.label :indigenous_health, :class => 'check-label' %>
  </div>
  <div class="inline-checkbox span3">
    <%= f.check_box :climate_change, :class => 'check-box' %><%= f.label :climate_change, :class => 'check-label' %>
  </div>
  <div class="inline-checkbox span3">
    <%= f.check_box :forest_management, :class => 'check-box' %><%= f.label :forest_management, :class => 'check-label' %>
  </div>
  <div class="inline-checkbox span3">
    <%= f.check_box :other, :class => 'check-box' %><%= f.label :other, :class => 'check-label' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :which, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :which, :class => 'text_field' %>
  </div>
</div>