<div class="control-group">
  <label class="control-label">
    <%= I18n.t "formulary_fields.formulary_action_1" %>
  </label>
  <div class="controls"></div>
</div>
<div class="control-group">
  <%= f.label :community_leader, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :community_leader, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :decision_maker, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :decision_maker, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :other_research_group, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :other_research_group, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :community_group, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :community_group, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :ngos, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :ngos, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :business, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :business, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :church, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :church, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :other_participation, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :other_participation, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <label class="control-label">
    <%= I18n.t "formulary_fields.formulary_action_2" %>
  </label>
  <div class="controls"></div>
</div>
<div class="control-group">
  <%= f.label :municipal_actors, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :municipal_actors, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :regional_actors, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :regional_actors, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :national_actors, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :national_actors, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :other_actors, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :other_actors, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :none_actors, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :none_actors, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <label class="control-label">
    <%= I18n.t "formulary_fields.formulary_action_3" %>
  </label>
  <div class="controls"></div>
</div>
<div class="control-group">
  <%= f.label :entire_process, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :entire_process, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :research_part, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :research_part, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :not_participatory_process, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :not_participatory_process, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :factor_affects, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :factor_affects, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :factor_affects_name, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :factor_affects_name, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <label class="control-label">
    <%= I18n.t "formulary_fields.formulary_action_5" %>
  </label>
  <div class="controls"></div>
</div>
<div class="control-group">
  <%= f.label :implement, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :implement, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :implement_description, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :implement_description, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :new_methodologies, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :new_methodologies, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :new_methodologies_description, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :new_methodologies_description, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :other_incorporation, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :other_incorporation, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :other_incorporation_description, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :other_incorporation_description, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :influence, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :influence, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :inlfuence_description, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :inlfuence_description, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <label class="control-label">
    <%= I18n.t "formulary_fields.formulary_action_6" %>
  </label>
  <div class="controls"></div>
</div>
<div class="control-group">
  <%= f.label :develop_understanding, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :develop_understanding, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :including_actor, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :including_actor, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :enhancing_participation, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :enhancing_participation, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :improving_communication, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :improving_communication, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :other_changes, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :other_changes, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :none_changes, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :none_changes, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <label class="control-label">
    <%= I18n.t "formulary_fields.formulary_action_7" %>
  </label>
  <div class="controls"></div>
</div>
<div class="control-group">
  <%= f.label :local_impacts, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :local_impacts, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :regional_impacts, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :regional_impacts, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :national_impacts, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :national_impacts, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :international_impacts, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :international_impacts, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :global_impacts, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :global_impacts, :class => 'text_field' %>
  </div>
</div>