<%- model_class = Formulary -%>
<%- model_subclassone = FormularyProfile %>
<div class="row">
  <div class="col-sm-12">
    <h4 class="h4-extra-margin"><%= t "activerecord.attributes.report.result", :quantity => @formularies.size %></h4>
  </div>
</div>
<div class="row service_wrapper">
  <div class="col-sm-3">
    <div class="feature">
      <div class="text">
        <h6><%= model_class.human_attribute_name(:user_id) %></h6>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="feature">
      <div class="text">
        <h6><%= model_subclassone.human_attribute_name(:project_name) %></h6>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="feature last">
      <div class="text">
        <h6><%= model_class.human_attribute_name(:created_at) %></h6>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="feature last">
      <div class="text">
        <h6><%= t("helpers.links.actions") %></h6>
      </div>
    </div>
  </div>
</div>
<% @formularies.each do |formulary| %>
  <div class="row service_wrapper">
    <div class="col-sm-3">
      <div class="feature">
        <div class="text">
          <p>
            <%= formulary.user.email %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="feature">
        <div class="text">
          <p>
            <%= formulary.formulary_profile.name %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="feature last">
        <div class="text">
          <p>
            <%= formulary.created_at.to_date %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="feature last">
        <div class="text">
          <p>
            <% if current_user.id == formulary.user_id%>
              <%= link_to t("helpers.links.show"),
                      formulary_path(formulary),
                      :class => 'btn btn-xs btn-success' %>
              <%= link_to t("helpers.links.edit"),
                      edit_formulary_path(formulary),
                      :class => 'btn btn-xs btn-info' %>
              <%= link_to t("helpers.links.destroy"),
                      formulary_path(formulary),
                      :method => :delete,
                      :data => { :confirm => t("helpers.links.confirm") },
                      :class => 'btn btn-xs btn-danger' %>
            <% else %>
              <%= link_to t("helpers.links.show"),
                      formulary_path(formulary),
                      :class => 'btn btn-xs btn-success' %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>