<div class="control-group">
  <%= f.label :scale_description, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :scale_description, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <label class="control-label">
    <%= I18n.t "formulary_fields.formulary_context_2" %>
  </label>
  <div class="controls"></div>
</div>
<div class="control-group">
  <%= f.label :urban, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :urban, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :semiurban, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :semiurban, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :rural, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :rural, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :wilderness, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :wilderness, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :disrupted, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :disrupted, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :resource_extraction, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :resource_extraction, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :environmental_degradation, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :environmental_degradation, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :climate_effect, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :climate_effect, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :natural_force, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :natural_force, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :coastal, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :coastal, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :agricultural, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :agricultural, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :forest, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :forest, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :rainfores, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :rainfores, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :cloud_forest, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :cloud_forest, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :dry_forest, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :dry_forest, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :old_growth_forest, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :old_growth_forest, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :mixed_forest, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :mixed_forest, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :other_scale, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :other_scale, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :which_scale, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :which_scale, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :watershed, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :watershed, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :watersheed_name, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :watersheed_name, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :wetland, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :wetland, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :desert, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :desert, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :intersectoral_aspect, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :intersectoral_aspect, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :intersectoral_aspect_name, :class => 'control-label' %>
  <div class="controls">
    <%= f.select(:intersectoral_aspect_name, @intersectoral_aspect.map { |value| [ value[:val], value[:key] ] }) %>
  </div>
</div>
<div class="control-group">
  <%= f.label :political_jurisdiction, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :political_jurisdiction, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :political_jurisdictions_name, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :political_jurisdictions_name, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :sociopolitical_context, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :sociopolitical_context, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :local_context, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :local_context, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :local_context_name, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :local_context_name, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :project_affect, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :project_affect, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :project_affect_name, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :project_affect_name, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :role_consideration, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :role_consideration, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :role_consideration_name, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :role_consideration_name, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :key_actors, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :key_actors, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :success_consideration, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :success_consideration, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :success_considerantion_name, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :success_considerantion_name, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <label class="control-label">
    <%= I18n.t "formulary_fields.formulary_context_8" %>
  </label>
  <div class="controls"></div>
</div>
<div class="control-group">
  <%= f.label :project_term, :class => 'control-label' %>
  <div class="controls">
    <%= f.select(:project_term, @project_term.map { |value| [ value[:val], value[:key] ] }) %>
  </div>
</div>
<div class="control-group">
  <%= f.label :require_integration, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :require_integration, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :require_integration_name, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :require_integration_name, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <label class="control-label">
    <%= I18n.t "formulary_fields.formulary_context_8_c" %>
  </label>
  <div class="controls"></div>
</div>
<div class="control-group">
  <%= f.label :gender, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :gender, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :equity, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :equity, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :community_participation, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :community_participation, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :policy, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :policy, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :complexity, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :complexity, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :other_approach, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :other_approach, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :which_approach, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :which_approach, :class => 'text_field' %>
  </div>
</div>