<div class="row form">
  <div class="col-sm-12">
    <%= f.label :name, :class => '' %>
    <div class="box">
      <%= f.text_field :name, :class => 'form-control spaceless' %>
    </div>
  </div>
</div>
<div class="row form">
  <div class="col-sm-12">
    <%= f.label :project_begins, :class => '' %>
    <div class="box">
      <div class="col-sm-4 paddigless">
        <%= f.text_field :project_begins, :class => 'form-control spaceless datepicker' %>  
      </div>
      <div class="col-sm-4 paddigless">
        <%= f.text_field :project_ends, :class => 'form-control spaceless datepicker' %>
      </div>
    </div>
  </div>
</div>
<div class="row form">
  <div class="col-sm-12">
    <%= f.label :region, :class => '' %>
    <div class="box">
      <%= f.text_field :region, :class => 'form-control spaceless' %>
    </div>
  </div>
</div>
<div class="row form">
  <div class="col-sm-12">
    <%= f.label :institution, :class => '' %>
    <div class="box">
      <%= f.text_field :institution, :class => 'form-control spaceless' %>
    </div>
  </div>
</div>
<div class="row form marginless">
  <div class="col-sm-12">
    <label>
      <%= I18n.t "formulary_fields.formulary_profile_5" %>
    </label>
  </div>
</div>
<div class="row form">
  <div class="col-lg-4">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :mining, :class => '' %><%= f.label :mining, :class => '' %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :pesticide, :class => '' %><%= f.label :pesticide, :class => '' %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :occupational_health, :class => '' %><%= f.label :occupational_health, :class => '' %>
    </div>
  </div>
</div>
<div class="row form">
  <div class="col-lg-4">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :community_paticipation, :class => '' %><%= f.label :community_paticipation, :class => '' %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :watershed_management, :class => '' %><%= f.label :watershed_management, :class => '' %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :solid_waste_management, :class => '' %><%= f.label :solid_waste_management, :class => '' %>
    </div>
  </div>
</div>
<div class="row form">
  <div class="col-lg-4">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :public_health, :class => '' %><%= f.label :public_health, :class => '' %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :animal_health, :class => '' %><%= f.label :animal_health, :class => '' %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :determinant_of_health, :class => '' %><%= f.label :determinant_of_health, :class => '' %>
    </div>
  </div>
</div>
<div class="row form">
  <div class="col-lg-4">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :food_sovereignty, :class => '' %><%= f.label :food_sovereignty, :class => '' %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :indigenous_health, :class => '' %><%= f.label :indigenous_health, :class => '' %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :climate_change, :class => '' %><%= f.label :climate_change, :class => '' %>
    </div>
  </div>
</div>
<div class="row form">
  <div class="col-lg-4">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :forest_management, :class => '' %><%= f.label :forest_management, :class => '' %>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :training, :class => '' %><%= f.label :training, :class => '' %>
    </div>
  </div>
</div>
<div class="row form">
  <div class="col-lg-4">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :other_areas, :class => '' %><%= f.label :other_areas, :class => '' %>
    </div>
  </div>
  <div class="col-lg-8 which_areas">
    <div class="form-group">
      <%= f.label :which_areas, :class => 'col-sm-1 input-label' %>
      <div class="col-sm-7">
        <%= f.text_field :which_areas, :class => 'form-control spaceless', :disabled => true %>
      </div>
    </div>
  </div>
</div>
<div class="row form marginless">
  <div class="col-sm-12">
    <label>
      <%= I18n.t "formulary_fields.formulary_profile_6" %>
    </label>
  </div>
</div>
<div class="row form linked_proyect">
  <div class="col-lg-4">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :project, :class => '' %><%= f.label :project, :class => '' %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :part_program, :class => '' %><%= f.label :part_program, :class => '' %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :entire_program, :class => '' %><%= f.label :entire_program, :class => '' %>
    </div>
  </div>
</div>
<div class="row form linked_proyect">
  <div class="col-lg-4">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :other_project, :class => '' %><%= f.label :other_project, :class => '' %>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="form-group">
      <%= f.label :which_project, :class => 'col-sm-1 input-label' %>
      <div class="col-sm-7">
        <%= f.text_field :which_project, :class => 'form-control spaceless', :disabled => true %>
      </div>
    </div>
  </div>
</div>
<div class="row form marginless">
  <div class="col-sm-12">
    <label>
      <%= I18n.t "formulary_fields.formulary_profile_7" %>
    </label>
  </div>
</div>
<div class="row form">
  <div class="col-sm-12">
    <%= f.label :objective, :class => '' %>
    <div class="box">
      <%= f.text_area :objective, :class => 'form-control spaceless' %>
    </div>
  </div>
</div>
<div class="row form">
  <div class="col-sm-12">
    <%= f.label :discipline, :class => '' %>
    <div class="box">
      <%= f.text_area :discipline, :class => 'form-control spaceless' %>
    </div>
  </div>
</div>
<div class="row form marginless">
  <div class="col-sm-12">
    <label>
      <%= I18n.t "formulary_fields.formulary_profile_9" %>
    </label>
  </div>
</div>
<div class="row form">
  <div class="col-lg-4">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :research, :class => '' %><%= f.label :research, :class => '' %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :action, :class => '' %><%= f.label :action, :class => '' %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="three-column-checkboxes checkbox">
      <%= f.check_box :policy, :class => '' %><%= f.label :policy, :class => '' %>
    </div>
  </div>
</div>
<div class="row form">
  <div class="col-sm-12">
    <%= f.label :success, :class => '' %>
    <div class="box">
      <%= f.text_area :success, :class => 'form-control spaceless' %>
    </div>
  </div>
</div>