<div class="control-group">
  <%= f.label :interaction, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :interaction, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :interaction_name, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :interaction_name, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :integrate_investigation, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :integrate_investigation, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :integrate_investigation_yes, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :integrate_investigation_yes, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :integrate_investigation_no, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :integrate_investigation_no, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <label class="control-label">
    <%= I18n.t "formulary_fields.formulary_research_3" %>
  </label>
  <div class="controls"></div>
</div>
<div class="control-group">
  <%= f.label :test_hypothesis, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :test_hypothesis, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :generate_knowledge, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :generate_knowledge, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :inlcude_actor, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :inlcude_actor, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :translate_knowledge, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :translate_knowledge, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :influencing_legislation, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :influencing_legislation, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :no_impact, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :no_impact, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :other_integration, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :other_integration, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :which_integration, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :which_integration, :class => 'text_field' %>
  </div>
</div>