<div class="control-group">
  <%= f.label :community_leader, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :community_leader, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :decision_maker, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :decision_maker, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :other_research_group, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :other_research_group, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :community_group, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :community_group, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :ngos, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :ngos, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :business, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :business, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :church, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :church, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :other, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :other, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :municipal, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :municipal, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :regiona, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :regiona, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :national, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :national, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :none, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :none, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :entire_process, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :entire_process, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :research_part, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :research_part, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :not_participatory_process, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :not_participatory_process, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :factor_affects, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :factor_affects, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :factor_affects_name, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :factor_affects_name, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :implement, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :implement, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :implement_description, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :implement_description, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :new_methodologies, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :new_methodologies, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :new_methodologies_description, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :new_methodologies_description, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :other_incorporation, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :other_incorporation, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :other_incorporation_description, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :other_incorporation_description, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :influence, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :influence, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :inlfuence_description, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :inlfuence_description, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :develop_understanding, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :develop_understanding, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :including_actor, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :including_actor, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :enhancing_participation, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :enhancing_participation, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :improving_communication, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :improving_communication, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :local, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :local, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :regional, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :regional, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :international, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :international, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :global, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :global, :class => 'text_field' %>
  </div>
</div>