<tr>
  <%= f.hidden_field :_destroy %>
  <td><%= f.text_field :name, :class => 'form-control spaceless' %></td>
  <td><%= f.text_field :email, :class => 'form-control spaceless' %></td>
  <td><%= f.text_field :phone, :class => 'form-control spaceless' %></td>
  <td><%= f.text_field :project_role, :class => 'form-control spaceless' %></td>
  <td><a class="btn btn-mini btn-danger glyphicon glyphicon-minus remove-contact"></a></td>
</tr>