<%- model_class = User -%>
<div id="service_1">
  <div class="container">
    <div class="section_header">
      <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
    </div>
    <div class="row service_wrapper">
      <div class="col-sm-3">
        <div class="feature">
          <div class="text">
            <h6><%= model_class.human_attribute_name(:email) %></h6>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="feature">
          <div class="text">
            <h6><%= model_class.human_attribute_name(:role_id) %></h6>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="feature">
          <div class="text">
            <h6></h6>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="feature last">
          <div class="text">
            <h6><%= t("helpers.links.actions") %></h6>
          </div>
        </div>
      </div>
    </div>
    <% @users.each do |user| %>
      <div class="row service_wrapper">
        <div class="col-sm-3">
          <div class="feature">
            <div class="text">
              <p>
                <%= user.email %>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="feature">
            <div class="text">
              <p>
                <%= user.role_id %>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="feature">
            <div class="text">
              <p>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="feature last">
            <div class="text">
              <p>
                <button class="btn btn-mini btn-warning">Role Assign</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>