<%= devise_error_messages! %>
<div id="reset_pwd" class="reset_page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 box_wrapper">
        <div class="col-md-12">
          <div class="box">
            <div class="head">
              <h4><%= t "helpers.devise.change_password_page.text_1" %></h4>
              <div class="line"></div>
            </div>
            <div class="form">
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                <%= f.hidden_field :reset_password_token %>
                <%= f.password_field :password, :class =>"control-form", autofocus: true, autocomplete: "off", :placeholder => t("helpers.devise.change_password_page.text_2") %>
                <%= f.password_field :password_confirmation, :class =>"control-form", autocomplete: "off", :placeholder => t("helpers.devise.change_password_page.text_3") %>
                <%= f.submit t("helpers.devise.change_password_page.text_4") %>
              <% end %>
            </div>
          </div>
        </div>
        <p class="already"><%= t "helpers.devise.change_password_page.text_5" %><a href="<%= new_user_session_path %>"><%= t "helpers.devise.change_password_page.text_6" %></a></p>
      </div>
    </div>
  </div>
</div>