<p id="notice"><%= notice %></p>

<p>
  <strong>Form wrapper:</strong>
  <%= @section.form_wrapper_id %>
</p>

<p>
  <strong>Title en:</strong>
  <%= @section.title_en %>
</p>

<p>
  <strong>Title es:</strong>
  <%= @section.title_es %>
</p>

<p>
  <strong>Title fr:</strong>
  <%= @section.title_fr %>
</p>

<p>
  <strong>Title pt:</strong>
  <%= @section.title_pt %>
</p>

<p>
  <strong>Description en:</strong>
  <%= @section.description_en %>
</p>

<p>
  <strong>Description es:</strong>
  <%= @section.description_es %>
</p>

<p>
  <strong>Description fr:</strong>
  <%= @section.description_fr %>
</p>

<p>
  <strong>Description pt:</strong>
  <%= @section.description_pt %>
</p>

<p>
  <strong>Sort index:</strong>
  <%= @section.sort_index %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
