<%- model_class = Formulary -%>
<%- model_subclass = Answer %>
<div id="service_1">
  <div class="container">
    <div class="section_header">
      <h3><%= I18n.t('activerecord.models.form_wrapper.plural').pluralize %></h3>
      <%= link_to t("helpers.links.new"), new_answer_path, :class => 'btn btn-primary pull-right' %>
      <%= link_to t("helpers.links.return_to") + t("activerecord.models.form_wrapper.plural"), formularies_path, :class => 'btn btn-default pull-right button-margin-rigth' %>
    </div>
    <div class="row" align="center">
      <%= paginate @formularies %>
    </div>
    <div class="row service_wrapper">
      <div class="col-sm-3">
        <div class="feature">
          <div class="text">
            <h6><%= model_class.human_attribute_name(:user_id) %></h6>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="feature">
          <div class="text">
            <h6><%= model_subclass.human_attribute_name(:project_name) %></h6>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="feature last">
          <div class="text">
            <h6><%= model_class.human_attribute_name(:created_at) %></h6>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="feature last">
          <div class="text">
            <h6><%= t("helpers.links.actions") %></h6>
          </div>
        </div>
      </div>
    </div>
    <% @formularies.each do |formulary| %>
      <div class="row service_wrapper">
        <div class="col-sm-3">
          <div class="feature">
            <div class="text">
              <p>
                <%= formulary.user_email %>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="feature">
            <div class="text">
              <p>
                <%= formulary.title %>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="feature last">
            <div class="text">
              <p>
                <%= formulary.created_at.to_date %>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="feature last">
            <div class="text">
              <p>
                <%= link_to t("helpers.links.show"),
                      answer_path(formulary.form_wrapper_id, :user_counter => formulary.user_counter, :user_id => formulary.user_id),
                     :class => 'btn btn-xs btn-success' %>
                <% if current_user.id == formulary.user_id%>
                  <%= link_to t("helpers.links.edit"),
                        edit_answer_path(formulary.answer_id, :user_counter => formulary.user_counter, :wrapper_id => formulary.form_wrapper_id),
                        :class => 'btn btn-xs btn-info' %>
                  <%= link_to t("helpers.links.destroy"),
                        destroy_responses_answer_path(formulary.user_counter, :wrapper_id => formulary.form_wrapper_id),
                        :method => :delete,
                        :data => { :confirm => t("helpers.links.confirm") },
                        :class => 'btn btn-xs btn-danger' %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>