<%= devise_error_messages! %>
<div id="sign_in1">
  <div class="container">
    <div class="row">
      <div class="col-md-12 header">
        <h4><%= t "helpers.devise.log_in_page.text_1" %></h4>
        <p>
          <%= t "helpers.devise.log_in_page.text_2" %>
        </p>
      </div>
      <div class="col-md-12 footer">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { :class => "form-inline" } ) do |f| %>
          <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => t("helpers.devise.log_in_page.text_8") %>
          <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => t("helpers.devise.log_in_page.text_9") %>
          <%= f.submit t "helpers.devise.log_in_page.text_3" %>
        <% end %>
      </div>
      <div class="col-md-12 proof">
        <div class="col-md-6 remember">
          <label class="checkbox">
            <input type="checkbox" name="user[remember_me]" form="new_user"><%= t "helpers.devise.log_in_page.text_4" %>
          </label>
          <a href="<%= new_password_path(resource_name) %>"><%= t "helpers.devise.log_in_page.text_5" %></a>
        </div>
        <div class="col-md-6">
          <div class="dosnt">
            <span><%= t "helpers.devise.log_in_page.text_6" %></span>
            <a href="<%= new_user_registration_path %>"><%= t "helpers.devise.log_in_page.text_7" %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>