<div id="sign_in1">
  <div class="container">
    <div class="row">
      <div class="col-md-12 header">
        <h4>Log in to your account</h4>
        <p>
          There are many variations of passages of Lorem alteration in some form  injected humour these randomised words.
        </p>
        <div class="col-md-4 social">
          <a href="#" class="circle facebook">
            <img src="/assets/face.png" alt="">
          </a>
          <a href="#" class="circle twitter">
            <img src="/assets/twt.png" alt="">
          </a>
          <a href="#" class="circle gplus">
            <img src="/assets/gplus.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-sm-3 division">
        <div class="line l"></div>
        <span>or</span>
        <div class="line r"></div>
      </div>
      <div class="col-md-12 footer">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { :class => "form-inline" } ) do |f| %>
          <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email" %>
          <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password" %>
          <%= f.submit "Sign in" %>
        <% end %>
      </div>
      <div class="col-md-12 proof">
        <div class="col-md-6 remember">
          <label class="checkbox">
            <input type="checkbox" name="user[remember_me]" form="new_user">Remember me
          </label>
          <a href="reset.html">Forgot password?</a>
        </div>
        <div class="col-md-6">
          <div class="dosnt">
            <span>Don’t have an account?</span>
            <a href="<%= new_user_registration_path %>"><%= t 'navbar_elements.user.sign_up' %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>