<%- model_class = FormularyContext -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:scale_description) %></th>
      <th><%= model_class.human_attribute_name(:intersectoral_aspect) %></th>
      <th><%= model_class.human_attribute_name(:intersectoral_aspect_name) %></th>
      <th><%= model_class.human_attribute_name(:political_jurisdiction) %></th>
      <th><%= model_class.human_attribute_name(:political_jurisdictions_name) %></th>
      <th><%= model_class.human_attribute_name(:sociopolitical_context) %></th>
      <th><%= model_class.human_attribute_name(:local_context) %></th>
      <th><%= model_class.human_attribute_name(:local_context_name) %></th>
      <th><%= model_class.human_attribute_name(:project_affect) %></th>
      <th><%= model_class.human_attribute_name(:project_affect_name) %></th>
      <th><%= model_class.human_attribute_name(:role_consideration) %></th>
      <th><%= model_class.human_attribute_name(:role_consideration_name) %></th>
      <th><%= model_class.human_attribute_name(:key_actors) %></th>
      <th><%= model_class.human_attribute_name(:success_consideration) %></th>
      <th><%= model_class.human_attribute_name(:success_considerantion_name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @formulary_contexts.each do |formulary_context| %>
      <tr>
        <td><%= link_to formulary_context.id, formulary_context_path(formulary_context) %></td>
        <td><%= formulary_context.scale_description %></td>
        <td><%= formulary_context.intersectoral_aspect %></td>
        <td><%= formulary_context.intersectoral_aspect_name %></td>
        <td><%= formulary_context.political_jurisdiction %></td>
        <td><%= formulary_context.political_jurisdictions_name %></td>
        <td><%= formulary_context.sociopolitical_context %></td>
        <td><%= formulary_context.local_context %></td>
        <td><%= formulary_context.local_context_name %></td>
        <td><%= formulary_context.project_affect %></td>
        <td><%= formulary_context.project_affect_name %></td>
        <td><%= formulary_context.role_consideration %></td>
        <td><%= formulary_context.role_consideration_name %></td>
        <td><%= formulary_context.key_actors %></td>
        <td><%= formulary_context.success_consideration %></td>
        <td><%= formulary_context.success_considerantion_name %></td>
        <td><%=l formulary_context.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_formulary_context_path(formulary_context), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      formulary_context_path(formulary_context),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_formulary_context_path,
            :class => 'btn btn-primary' %>
