<%= form_for @formulary, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div id="portfolio">
    <div class="row">
      <div class="col-md-12">
        <div id="filters_container">
          <ul id="filters">
            <li><a href="#" data-step="1" class="active"><%= t "formulary_sections.registration" %></a></li>
            <li class="separator">/</li>
            <li><a href="#" data-step="2"><%= t "formulary_sections.context" %></a></li>
            <li class="separator">/</li>
            <li><a href="#" data-step="3"><%= t "formulary_sections.research" %></a></li>
            <li class="separator">/</li>
            <li><a href="#" data-step="4"><%= t "formulary_sections.action" %></a></li>
            <li class="separator">/</li>
            <li><a href="#" data-step="5"><%= t "formulary_sections.policy" %></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="step1" class="steps">
    <p class="text-justified">
      <%= t "formulary_introductions.registration" %>
    </p>
    <%= f.fields_for :formulary_profile do |builder| %>
      <%= render '/partials/formulary_profile_form', :f => builder %>
    <% end %>
  </div>
  <div id="step2" class="steps">
    <p class="text-justified">
      <%= t "formulary_introductions.context" %>
    </p>
    <%= f.fields_for :formulary_context do |builder| %>
      <%= render '/partials/formulary_context_form', :f => builder %>
    <% end %>
  </div>
  <div id="step3" class="steps">
    <p class="text-justified">
      <%= t "formulary_introductions.research" %>
    </p>
    <%= f.fields_for :formulary_research do |builder| %>
      <%= render '/partials/formulary_research_form', :f => builder %>
    <% end %>
  </div>
  <div id="step4" class="steps">
    <p class="text-justified">
      <%= t "formulary_introductions.action" %>
    </p>
    <%= f.fields_for :formulary_action do |builder| %>
      <%= render '/partials/formulary_action_form', :f => builder %>
    <% end %>
  </div>
  <div id="step5" class="steps">
    <p class="text-justified">
      <%= t "formulary_introductions.policy" %>
    </p>
    <%= f.fields_for :formulary_policy do |builder| %>
      <%= render '/partials/formulary_policy_form', :f => builder %>
    <% end %>
  </div>
  <div class="row submit">
    <div class="col-md-12 box">
      <%= link_to t("helpers.links.cancel"), formularies_path, :class => 'btn btn-default' %>
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>