<%= form_for @formulary, :html => { :class => 'form-horizontal' } do |f| %>
  <div id="portfolio">
    <div class="row">
      <div class="col-md-12">
        <div id="filters_container">
          <ul id="filters">
            <li><a href="#" data-step="1" class="active"><%= t "formulary_sections.registration" %></a></li>
            <li class="separator">/</li>
            <li><a href="#" data-step="2"><%= t "formulary_sections.context" %></a></li>
            <li class="separator">/</li>
            <li><a href="#" data-step="3"><%= t "formulary_sections.research" %></a></li>
            <li class="separator">/</li>
            <li><a href="#" data-step="4"><%= t "formulary_sections.action" %></a></li>
            <li class="separator">/</li>
            <li><a href="#" data-step="5"><%= t "formulary_sections.policy" %></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="step1" class="steps">
    <p class="text-justified">
      <%= t "formulary_introductions.registration" %>
    </p>
    <%= f.fields_for :formulary_profile do |builder| %>
      <%= render '/partials/formulary_profile_form', :f => builder %>
    <% end %>

    <div class="row form marginless">
      <div class="col-sm-12">
        <label>
          <%= I18n.t "formulary_fields.formulary_contact_1" %>
        </label>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-centered">
            <%= I18n.t "activerecord.attributes.formulary_contact.name" %>
            </th>
          <th class="text-centered">
            <%= I18n.t "activerecord.attributes.formulary_contact.email" %>
          </th>
          <th class="text-centered">
            <%= I18n.t "activerecord.attributes.formulary_contact.phone" %>
          </th>
          <th class="text-centered">
            <%= I18n.t "activerecord.attributes.formulary_contact.project_role" %>
          </th>
          <th>
            <%= link_to_add_fields("", f, :formulary_contacts, :button_item, "btn btn-info btn-mini glyphicon glyphicon-plus add-contact") %>
          </th>
        </tr>
      </thead>
      <tbody class="contact-rows">
        <%= f.fields_for :formulary_contacts do |contacts| %>
          <%= render 'partials/formulary_contact_form', :f => contacts %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="step2" class="steps">
    <p class="text-justified">
      <%= t "formulary_introductions.context" %>
    </p>
    <%= f.fields_for :formulary_context do |builder| %>
      <%= render '/partials/formulary_context_form', :f => builder %>
    <% end %>
  </div>
  <div id="step3" class="steps">
    <p class="text-justified">
      <%= t "formulary_introductions.research" %>
    </p>
    <%= f.fields_for :formulary_research do |builder| %>
      <%= render '/partials/formulary_research_form', :f => builder %>
    <% end %>
  </div>
  <div id="step4" class="steps">
    <p class="text-justified">
      <%= t "formulary_introductions.action" %>
    </p>
    <%= f.fields_for :formulary_action do |builder| %>
      <%= render '/partials/formulary_action_form', :f => builder %>
    <% end %>
  </div>
  <div id="step5" class="steps">
    <p class="text-justified">
      <%= t "formulary_introductions.policy" %>
    </p>
    <%= f.fields_for :formulary_policy do |builder| %>
      <%= render '/partials/formulary_policy_form', :f => builder %>
    <% end %>
  </div>
  <div class="row submit">
    <div class="col-md-12 box">
      <%= link_to t("helpers.links.cancel"), formularies_path, :class => 'btn btn-default' %>
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>