<%- model_class = Formulary -%>
<%- model_subclass = FormularyProfile %>
<div id="service_1">
  <div class="container">
    <div class="section_header">
      <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
      <%= link_to t("helpers.links.new"), new_formulary_path, :class => 'btn btn-primary pull-right' %>
      <%= link_to t("helpers.links.go_to") + t("activerecord.models.form_wrapper.plural"), answers_path, :class => 'btn btn-default pull-right button-margin-rigth' %>
    </div>
    <div class="row" align="center">
      <%= paginate @formularies %>
    </div>
    <div class="row service_wrapper">
      <div class="col-sm-3">
        <div class="feature">
          <div class="text">
            <h6><%= model_class.human_attribute_name(:user_id) %></h6>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature">
          <div class="text">
            <h6><%= model_subclass.human_attribute_name(:project_name) %></h6>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="feature last">
          <div class="text">
            <h6><%= model_class.human_attribute_name(:created_at) %></h6>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="feature last">
          <div class="text">
            <h6><%= t("helpers.links.actions") %></h6>
          </div>
        </div>
      </div>
    </div>
    <% @formularies.each do |formulary| %>
      <div class="row service_wrapper">
        <div class="col-sm-3">
          <div class="feature">
            <div class="text">
              <p>
                <%= formulary.user.email %>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature">
            <div class="text">
              <p>
                <%= formulary.formulary_profile.name %>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="feature last">
            <div class="text">
              <p>
                <%= formulary.created_at.to_date %>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="feature last">
            <div class="text">
              <p>
                <% if current_user.id == formulary.user_id%>
                  <%= link_to t("helpers.links.show"),
                          formulary_path(formulary),
                          :class => 'btn btn-xs btn-success' %>
                  <%= link_to t("helpers.links.edit"),
                          edit_formulary_path(formulary),
                          :class => 'btn btn-xs btn-info' %>
                  <%= link_to t("helpers.links.destroy"),
                          formulary_path(formulary),
                          :method => :delete,
                          :data => { :confirm => t("helpers.links.confirm") },
                          :class => 'btn btn-xs btn-danger' %>
                <% else %>
                  <%= link_to t("helpers.links.show"),
                          formulary_path(formulary),
                          :class => 'btn btn-xs btn-success' %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>