<%= form_for(@formulary_context_ecosystem_feature) do |f| %>
  <% if @formulary_context_ecosystem_feature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@formulary_context_ecosystem_feature.errors.count, "error") %> prohibited this formulary_context_ecosystem_feature from being saved:</h2>

      <ul>
      <% @formulary_context_ecosystem_feature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :formulary_context_id %><br>
    <%= f.number_field :formulary_context_id %>
  </div>
  <div class="field">
    <%= f.label :urban %><br>
    <%= f.check_box :urban %>
  </div>
  <div class="field">
    <%= f.label :semiurban %><br>
    <%= f.check_box :semiurban %>
  </div>
  <div class="field">
    <%= f.label :rural %><br>
    <%= f.check_box :rural %>
  </div>
  <div class="field">
    <%= f.label :wilderness %><br>
    <%= f.check_box :wilderness %>
  </div>
  <div class="field">
    <%= f.label :disrupted %><br>
    <%= f.check_box :disrupted %>
  </div>
  <div class="field">
    <%= f.label :resource_extraction %><br>
    <%= f.check_box :resource_extraction %>
  </div>
  <div class="field">
    <%= f.label :environmental_degradation %><br>
    <%= f.check_box :environmental_degradation %>
  </div>
  <div class="field">
    <%= f.label :climate_effect %><br>
    <%= f.check_box :climate_effect %>
  </div>
  <div class="field">
    <%= f.label :natural_force %><br>
    <%= f.check_box :natural_force %>
  </div>
  <div class="field">
    <%= f.label :coastal %><br>
    <%= f.check_box :coastal %>
  </div>
  <div class="field">
    <%= f.label :agricultural %><br>
    <%= f.check_box :agricultural %>
  </div>
  <div class="field">
    <%= f.label :forest %><br>
    <%= f.check_box :forest %>
  </div>
  <div class="field">
    <%= f.label :rainfores %><br>
    <%= f.check_box :rainfores %>
  </div>
  <div class="field">
    <%= f.label :cloud_forest %><br>
    <%= f.check_box :cloud_forest %>
  </div>
  <div class="field">
    <%= f.label :dry_forest %><br>
    <%= f.check_box :dry_forest %>
  </div>
  <div class="field">
    <%= f.label :old_growth_forest %><br>
    <%= f.check_box :old_growth_forest %>
  </div>
  <div class="field">
    <%= f.label :mixed_forest %><br>
    <%= f.check_box :mixed_forest %>
  </div>
  <div class="field">
    <%= f.label :other %><br>
    <%= f.text_field :other %>
  </div>
  <div class="field">
    <%= f.label :watershed %><br>
    <%= f.check_box :watershed %>
  </div>
  <div class="field">
    <%= f.label :watersheed_name %><br>
    <%= f.text_field :watersheed_name %>
  </div>
  <div class="field">
    <%= f.label :wetland %><br>
    <%= f.check_box :wetland %>
  </div>
  <div class="field">
    <%= f.label :desert %><br>
    <%= f.check_box :desert %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
