<%- model_class = FormularyContextEcosystemFeature -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:formulary_context_id) %></th>
      <th><%= model_class.human_attribute_name(:urban) %></th>
      <th><%= model_class.human_attribute_name(:semiurban) %></th>
      <th><%= model_class.human_attribute_name(:rural) %></th>
      <th><%= model_class.human_attribute_name(:wilderness) %></th>
      <th><%= model_class.human_attribute_name(:disrupted) %></th>
      <th><%= model_class.human_attribute_name(:resource_extraction) %></th>
      <th><%= model_class.human_attribute_name(:environmental_degradation) %></th>
      <th><%= model_class.human_attribute_name(:climate_effect) %></th>
      <th><%= model_class.human_attribute_name(:natural_force) %></th>
      <th><%= model_class.human_attribute_name(:coastal) %></th>
      <th><%= model_class.human_attribute_name(:agricultural) %></th>
      <th><%= model_class.human_attribute_name(:forest) %></th>
      <th><%= model_class.human_attribute_name(:rainfores) %></th>
      <th><%= model_class.human_attribute_name(:cloud_forest) %></th>
      <th><%= model_class.human_attribute_name(:dry_forest) %></th>
      <th><%= model_class.human_attribute_name(:old_growth_forest) %></th>
      <th><%= model_class.human_attribute_name(:mixed_forest) %></th>
      <th><%= model_class.human_attribute_name(:other) %></th>
      <th><%= model_class.human_attribute_name(:watershed) %></th>
      <th><%= model_class.human_attribute_name(:watersheed_name) %></th>
      <th><%= model_class.human_attribute_name(:wetland) %></th>
      <th><%= model_class.human_attribute_name(:desert) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @formulary_context_ecosystem_features.each do |formulary_context_ecosystem_feature| %>
      <tr>
        <td><%= link_to formulary_context_ecosystem_feature.id, formulary_context_ecosystem_feature_path(formulary_context_ecosystem_feature) %></td>
        <td><%= formulary_context_ecosystem_feature.formulary_context_id %></td>
        <td><%= formulary_context_ecosystem_feature.urban %></td>
        <td><%= formulary_context_ecosystem_feature.semiurban %></td>
        <td><%= formulary_context_ecosystem_feature.rural %></td>
        <td><%= formulary_context_ecosystem_feature.wilderness %></td>
        <td><%= formulary_context_ecosystem_feature.disrupted %></td>
        <td><%= formulary_context_ecosystem_feature.resource_extraction %></td>
        <td><%= formulary_context_ecosystem_feature.environmental_degradation %></td>
        <td><%= formulary_context_ecosystem_feature.climate_effect %></td>
        <td><%= formulary_context_ecosystem_feature.natural_force %></td>
        <td><%= formulary_context_ecosystem_feature.coastal %></td>
        <td><%= formulary_context_ecosystem_feature.agricultural %></td>
        <td><%= formulary_context_ecosystem_feature.forest %></td>
        <td><%= formulary_context_ecosystem_feature.rainfores %></td>
        <td><%= formulary_context_ecosystem_feature.cloud_forest %></td>
        <td><%= formulary_context_ecosystem_feature.dry_forest %></td>
        <td><%= formulary_context_ecosystem_feature.old_growth_forest %></td>
        <td><%= formulary_context_ecosystem_feature.mixed_forest %></td>
        <td><%= formulary_context_ecosystem_feature.other %></td>
        <td><%= formulary_context_ecosystem_feature.watershed %></td>
        <td><%= formulary_context_ecosystem_feature.watersheed_name %></td>
        <td><%= formulary_context_ecosystem_feature.wetland %></td>
        <td><%= formulary_context_ecosystem_feature.desert %></td>
        <td><%=l formulary_context_ecosystem_feature.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_formulary_context_ecosystem_feature_path(formulary_context_ecosystem_feature), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      formulary_context_ecosystem_feature_path(formulary_context_ecosystem_feature),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_formulary_context_ecosystem_feature_path,
            :class => 'btn btn-primary' %>
